@model ReflectionIT.Mvc.Paging.IPagingList<PhoneBookProject.Models.DepartmantList>

@using ReflectionIT.Mvc.Paging
@addTagHelper *,  ReflectionIT.Mvc.Paging

@{
    ViewBag.Title = "معاونت ها";
}


<div class="row">
    <div class="col-xs-12">

        <a asp-controller="Departmant" asp-action="Create" class="btn btn-success">
            جـدیـد
        </a>

    </div>
</div>



@if (Model.Count() > 0)
{

    <!-- /.box-header -->
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">


            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 185.512px;">معاونت</th>
                                <th class="sorting_desc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 343.125px;" aria-sort="descending">موقعیت</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 316.538px;">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var obj in Model)
                            {
                                <tr role="row" class="odd">
                                    <td width="30%">@obj.Name</td>
                                    <td width="40%">@obj.Location</td>
                                    <td class="text-center">
                                        <div class="w-100  btn-group" role="group">
                                            <a asp-controller="Departmant" asp-route-Id="@obj.Id" asp-action="View" class="btn btn-info">
                                                نمایش
                                            </a>
                                            <a asp-controller="Departmant" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-warning">
                                                ویرایش
                                            </a>
                                            <a asp-controller="Departmant" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger">
                                                حذف
                                            </a>
                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->

    <nav class="pagenav" style="text-align:center;">
        @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
    </nav>


}

else
{
    <p>No Data Exists.</p>
}

