@model ReflectionIT.Mvc.Paging.IPagingList<PhoneBookProject.Models.DataPhonelist>

@using ReflectionIT.Mvc.Paging
@addTagHelper *,  ReflectionIT.Mvc.Paging

@{
    ViewBag.Title = "دفترچه تلفن";
}



<div class="row">
    <div class="col-xs-12">

        <a asp-controller="DataPhonelist" asp-action="Create" class="btn btn-success">
            جـدیـد
        </a>

    </div>
</div>

@if (Model.Count() > 0)
{

    <div class="box-body">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                        <thead>
                            <tr>
                                <th>نام</th>
                                <th>نام خانوادگی</th>
                                <th>معاونت</th>
                                <th>تلفن</th>
                                <th>تلفن همراه</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td width="15%">@obj.Fname</td>
                                    <td width="20%">@obj.Lname</td>
                                    <td width="15%">@obj.ListOfDepartmant</td>
                                    <td width="20%">@obj.PhoneNumber</td>
                                    <td width="15%">@obj.CellPhone</td>
                                    <td class="text-center">
                                        <div class="w-100  btn-group" role="group">

                                            <a asp-controller="DataPhonelist" asp-route-Id="@obj.Id" asp-action="View" class="btn btn-info">
                                                نمایش
                                            </a>

                                            <a asp-controller="DataPhonelist" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-warning">
                                                ویرایش
                                            </a>


                                            <a asp-controller="DataPhonelist" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger">
                                                حذف
                                            </a>



                                        </div>
                                    </td>
                                </tr>
                            }


                        </tbody>
                        <tfoot>
                            <tr><th rowspan="1" colspan="1">تعداد کل</th></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <nav class="pagenav" style="text-align:center;">
        @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
    </nav>
}

else
{
    <p>No Data Exists.</p>
}



