@model ReflectionIT.Mvc.Paging.IPagingList<PhoneBookProject.Models.DataPhonelist>

@using ReflectionIT.Mvc.Paging
@addTagHelper *,  ReflectionIT.Mvc.Paging

@{
    ViewBag.Title = "صفحه نخست";
}


@if (Model.Count() > 0)
{

    <section class="content">
        <div class="row">



            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">دفترچه تلفن</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">

                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr>
                                            <th>نام</th>
                                            <th>نام خانوادگی</th>
                                            <th>معاونت</th>
                                            <th>تلفن</th>
                                            <th>تلفن همراه</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var obj in Model)
                                        {
                                            <tr>
                                                <td width="30%">@obj.Fname</td>
                                                <td width="20%">@obj.Lname</td>
                                                <td width="15%">@obj.ListOfDepartmant</td>
                                                <td width="20%">@obj.PhoneNumber</td>
                                                <td width="15%">@obj.CellPhone</td>
                                            </tr>
                                        }

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>


            </div>



    </section>
}

else
{
    <p>No Data Exists.</p>
}


<!-- jQuery 3 -->
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ChartJS -->
<script src="../../bower_components/Chart.js/Chart.js"></script>
<!-- FastClick -->
<script src="../../bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->

<!-- DataTables -->
<script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>




<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>